#Digital_clock{
    /* margin: 50% !important; */
    text-align: center;
    /* background-color: aqua; */
    /* background-color: aqua  ; */
    /* background-image: url("https://tse4.mm.bing.net/th?id=OIP.CbaGcESRecrh9QQfYneiigHaEo&pid=Api&P=0"); */
}

.container{
    background-color: aqua;
}



.clock{
    text-align: center;
    /* background-color: green ; */
}

